body {
    background-color: rgb(0, 0, 0);
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

h1{color: rgb(104, 0, 173)}
p{color: rgb(104, 0, 173);
}

