@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Raleway:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.pagewidth {
    max-width: 1500px;
    padding: 0px 75px;
    margin: auto;
}

/*Nav Bar*/
.header {
    overflow: auto;
    position: fixed;
    width: 100%;
    padding: 15px 0px;
    background: black;
    font-family: 'Raleway', sans-serif;
}

.header .pagewidth {
    display: flex;
    align-items: left;
    justify-content: space-between;

}
.header .header-title {
    font-family: 'Charmonman', cursive;
    font-weight:700;
    color: darkgray;
}

.header .header-title span { 
    color: maroon;
}

.header .nav-links li {
    list-style: none;
    display: inline-block;
}

.header .nav-links li a {
    color: darkgray;
    font-size: 20px;
    font-weight: 600;
    float: right;
    align-items: center;
    text-align: center;
    padding: 15px;
    line-height: 5px;
    border: solid;
    border-radius: 10px;
    border-color: maroon;
}

.header .nav-links a:hover {
    background-color: maroon;
    color: black;
}

/*Home Page*/
.home {
    display: flex;
    background: fixed;
    height: 100vh;
    color: lightgray;
    font-family: 'Charmonman', cursive;
}

.home span {
    color: maroon
}

.home .pagewidth {
    margin: auto 0;
}

.home .home-content .text1 {
    font-size: 75px;
    font-weight: 700;
    text-align: right;
}

.home .home-content .text2 {
    font-size: 55px;
    font-weight: 400;
    text-align: right;
}
    
.picture {
    float: right;
    align-items: baseline;
    margin: 100px auto ;
    padding: 0px;
    border-style: outset;
    border-radius: 0%;
    border-color: maroon;
    border-width: 5px;
}

/*About Me */

.aboutme {
    font-family: 'Raleway', sans-serif;
}

.aboutme .aboutme-content h1 {
    text-align: left;
    font-family: 'Charmonman', cursive;
    color: whitesmoke;
    font-weight: 700;
    font-size: 65px;
    
}

.aboutme .aboutme-content .picture-2 {
    float: left;
    margin: 5px 100px;
    padding: 0px;
    border-style: outset;
    border-radius: 0%;
    border-color: maroon;
    border-width: 5px;
}

.aboutme .aboutme-content p {
    font-size: 42px;
    font-weight: 400;
    color: whitesmoke;
    text-align: left;
}

.aboutme .aboutme-content ul {
    font-size: 19px;
    font-weight: 400;
    color: whitesmoke;
    margin: auto;
    text-align: left;
}

/* Projects */

.projects .project-content {
    float: left;
    font-family: 'Raleway', sans-serif;
}

.projects .project-content h1 {
    text-align: left;
    font-family: 'Charmonman', cursive;
    color: whitesmoke;
    font-weight: 700;
    font-size: 65px;
}

.projects .project-content .box {
    display: flex;
}

.projects .project-content .box .algorhythyms {
   height: 300px;
   width: 400px;
   margin: 30px; 
}

.projects .project-content .box .travelpassport {
    margin: 30px; 
 }

 .projects .project-content .box .project3 {
    margin: 30px; 
 }
   


/* Contact  */
.contact .contact-content {
    margin: auto;
}

.contact .contact-content h1 {
    text-align: left;
    font-family: 'Charmonman', cursive;
    color: whitesmoke;
    font-weight: 700;
    font-size: 65px;
}

.contact .contact-content .box {
    display: flex;
    align-items: center;
    margin: 5px 10px;
}

.contact .contact-content .box ul {
    list-style: none;
    display: inline-flex;
    margin: auto;
}

ion-icon {
    font-size: 84px;
    background-color: black;
    color: maroon;
    border-radius: 5px;
}

/*footer*/

.footer{
    background-color: black;
    color: maroon;
    text-align: center;
    position: absolute;
    bottom: -1500px;
    width: 100%;
    height: 50px
}   