@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Raleway:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.pagewidth {
    max-width: 1300px;
    padding: 0px 75px;
    margin: auto;
}

/*Nav Bar*/
.header {
    overflow: auto;
    position: fixed;
    width: 100%;
    padding: 15px 0px;
    background: black;
    font-family: 'Raleway', sans-serif;
}

.header .pagewidth {
    display: flex;
    align-items: left;
    justify-content: space-between;

}
.header .header-title {
    font-family: 'Charmonman', cursive;
    font-weight:700;
    color: darkgray;
}

.header .header-title span { 
    color: maroon;
}

.header .nav-links li {
    list-style: none;
    display: inline-block;
}

.header .nav-links li a {
    color: darkgray;
    font-size: 20px;
    font-weight: 600;
    float: right;
    align-items: center;
    text-align: center;
    padding: 15px;
    line-height: 5px;
    border: solid;
    border-radius: 10px;
    border-color: maroon;
}

.header .nav-links a:hover {
    background-color: maroon;
    color: black;
}

/*Home Page*/
.home {
    display: flex;
    background: fixed;
    height: 100vh;
    color: lightgray;
    font-family: 'Charmonman', cursive;
}

.home .pagewidth {
    margin: auto 0;
}

.home .home-content .text1 {
    font-size: 75px;
    font-weight: 700;
    text-align: right;
}

.home .home-content .text2 {
    font-size: 55px;
    font-weight: 400;
    text-align: right;
}
    
.picture {
    float: right;
    align-items: baseline;
    margin: 100px auto ;
    padding: 0px;
    border-style: outset;
    border-radius: 0%;
    border-color: maroon;
    border-width: 5px;
  }